body {
  width: 1440px;
  font-family: "Livvic", sans-serif;
  margin: 0 auto;
}

.container {
  background-color: #014E56;
}

:root {
  --border: 1px solid;
}

.header {
  width: 1440px;
  height: 447px;
  padding-top: 70px;
}
.header .header__ul {
  width: 1100px;
  height: 48px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 114px;
}
.header .header__cont1 {
  display: flex;
  align-items: center;
}
.header .header__li img {
  margin-left: -20px;
}
.header .header__li a {
  text-decoration: none;
  color: white;
  margin-left: 45px;
}
.header .header__li:nth-child(2) {
  margin-left: 50px;
}
.header .header__li button {
  width: 153px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #FFFFFF;
}
.header .header__cont button:hover {
  background: #01292e;
}
.header .header__li a:hover {
  color: coral;
}
.header .header__cont2 {
  display: flex;
  width: 1100px;
  height: 156px;
  justify-content: space-between;
  margin: 0 auto;
}
.header .header__we p {
  width: 710px;
  height: 140px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #FFFFFF;
}
.header .header__group img {
  margin-left: 1340px;
  margin-top: -70px;
}
.header .header__box {
  width: 50px;
  height: 4px;
  background: #F67E7E;
  margin-bottom: 40px;
}

:root {
  --border: 1px solid;
}

.section1 {
  background: #004047;
  height: 1002px;
}
.section1 .section1__meet {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #FFFFFF;
  margin-top: -100px;
}
.section1 .section1__uls {
  width: 1440px;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 170px;
  justify-content: center;
  padding-right: 190px;
}
.section1 .section1__li {
  position: relative;
  width: 350px;
  height: 253px;
  background: #012F34;
  align-items: center;
  text-align: center;
  margin-bottom: -80px;
}
.section1 .section1__li h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;
  color: #79C8C7;
}
.section1 .section1__li p {
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-align: center;
  margin-top: -15px;
  color: #FFFFFF;
}
.section1 .section1__li img {
  margin-top: 35px;
}
.section1 .section1__boxs {
  position: sticky;
  width: 56px;
  height: 56px;
  background: #F67E7E;
  border-radius: 200px;
  box-sizing: border-box;
  margin-top: 170px;
  margin-left: -369px;
  margin-bottom: -170px;
}
.section1 .section1__combiend img {
  margin-top: 19px;
  margin-left: 20px;
}
.section1 .section1__combiends {
  margin-top: 20px;
  margin-left: 20px;
  display: none;
}
.section1 .section1__name {
  position: absolute;
  margin-top: -180px;
  display: none;
}
.section1 .section1__name p {
  width: 254px;
  height: 75px;
  margin-left: 50px;
}
.section1 .section1__link {
  margin-top: -40px;
  margin-left: 45px;
}
.section1 .section1__name h3 {
  margin-left: 50px;
}
.section1 .section1__link img {
  margin-left: 10px;
}
.section1 .section1__svg img {
  margin-left: 1295px;
  margin-top: 106px;
}
.section1 .section1__li:hover {
  background: #002529;
}
.section1 .section1__li:hover .section1__oval {
  display: none;
}
.section1 .section1__li:hover .section1__name {
  display: block;
  margin-top: 50px;
  transition: 0.5s;
}
.section1 .section1__boxs:hover {
  background: #79C8C7;
}
.section1 .section1__boxs:hover .section1__combiends {
  display: block;
  transition: 2s;
}
.section1 .section1__boxs:hover .section1__combiend {
  display: none;
}

.section2 {
  background: #012F34;
  height: 420px;
}
.section2 .section2__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.section2 .section2__some h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  text-align: center;
  margin-top: -50px;
  margin-bottom: 70px;
  color: #FFFFFF;
}
.section2 .section2__item {
  margin-left: 0px;
  margin-right: 70px;
}
.section2 #grop2 {
  display: none;
}

.section3 {
  background: #F67E7E;
  height: 200px;
}
.section3 .section3__flx {
  display: flex;
}
.section3 .section3__get {
  width: 917px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 80px;
}
.section3 .section3__get h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  color: #012F34;
}
.section3 .section3__btn button {
  width: 153px;
  height: 48px;
  border: 2px solid #012F34;
  border-radius: 24px;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #012F34;
}
.section3 .section3__left img {
  margin-top: 56px;
}
.section3 .section3__btn button:hover {
  background: #002529;
  color: white;
}

:root {
  --border: 1px solid;
}

.footer {
  background: #002529;
  height: 196px;
}
.footer .footer__list {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}
.footer .footer__item img {
  margin-top: 20px;
}
.footer .footer__home a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.footer .footer__home {
  margin-top: 45px;
}
.footer .footer__home a:hover {
  color: coral;
}
.footer .footer__log img:hover {
  color: coral;
}
.footer .footer__ca p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  width: 160px;
  height: 100px;
  margin-left: -150px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer .footer__All p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer .footer__log img {
  margin-left: 20px;
}
.footer .footer__log {
  margin-left: 107px;
  margin-bottom: 70px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  :root {
    --border: 1px solid;
  }
  body {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .header .header__li button {
    margin-left: -550px;
  }
  .header .header__box {
    display: none;
  }
  .header .header__cont2 {
    flex-direction: column;
  }
  .header .header__we p {
    text-align: center;
    margin-left: 150px;
    width: 440px;
    height: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */
    color: #FFFFFF;
  }
  .header .header__we {
    width: 157px;
    height: 150px;
  }
  .header .header__about {
    margin-left: 270px;
    margin-top: -35px;
  }
  .header .header__group img {
    margin-left: 649px;
  }
  .header .header__li:nth-child(2) {
    margin-left: -5px;
  }
  .section1 {
    padding-bottom: 370px;
  }
  .section1 .section1__uls {
    width: 1100px;
    margin-left: -170px;
  }
  .section1 .section1__svg img {
    margin-left: 610px;
    margin-top: 131px;
  }
  .section1 .section1__li {
    width: 281px;
    height: 253px;
  }
  .section1 .section1__name {
    margin-left: -30px;
  }
  .section2 #grop2 {
    display: block;
  }
  .section2 #clients {
    display: none;
  }
  .section2 .section2__some {
    width: 689px;
    height: 108px;
    margin-top: 100px;
  }
  .section2 .section2__some h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 32px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #FFFFFF;
  }
  .section2 .section2__item img {
    font-style: normal;
    font-weight: 700;
    line-height: 2px;
    /* identical to box height, or 100% */
    margin-left: -45px;
    text-align: center;
  }
  .section3 .section3__get h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */
    margin-left: -80px;
    color: #012F34;
  }
  .section3 .section3__btn button {
    position: absolute;
    margin-left: -170px;
    margin-top: -20px;
  }
  .footer .footer__ca p {
    margin-left: 30px;
  }
}
@media screen and (max-width: 390px) {
  :root {
    --border: 1px solid;
  }
  body {
    width: 390px;
  }
  .header {
    width: 390px;
  }
  .header .header__li a {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
