@media screen and (max-width: 768px) {
    :root {
        --border: 1px solid;
    }

    body {
        width: 100%;
        // border: var(--border);
    }

    .header {
        width: 100%;
        // border: var(--border);


        .header__li button {
            margin-left: -550px;
        }

        .header__box {
            display: none;
        }

        .header__cont2 {
            flex-direction: column;
        }

        .header__we p {
            text-align: center;
            margin-left: 150px;
            width: 440px;
            height: 140px;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            /* or 187% */
            color: #FFFFFF;

        }

        .header__we {
            width: 157px;
            height: 150px;
        }

        .header__about {
            margin-left: 270px;
            margin-top: -35px;
        }

        .header__group img {
            margin-left: 649px;
        }

        .header__li:nth-child(2) {
            margin-left: -5px;
        }
    }

    .section1 {
        padding-bottom: 370px;

        .section1__uls {
            width: 1100px;
            margin-left: -170px;

        }

        .section1__svg img {
            margin-left: 610px;
            margin-top: 131px;
        }

        .section1__li {
            width: 281px;
            height: 253px;
        }

        .section1__name {
            margin-left: -30px;
        }
    }

    .section2 {

        #grop2 {
            display: block;
        }

        #clients {
            display: none;

        }

        .section2__some {
            width: 689px;
            height: 108px;
            margin-top: 100px;
        }

        .section2__some h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 37px;
            line-height: 32px;
            /* identical to box height, or 100% */

            text-align: center;

            color: #FFFFFF;

        }

        .section2__item img {
            font-style: normal;
            font-weight: 700;

            line-height: 2px;
            /* identical to box height, or 100% */
            margin-left: -45px;
            text-align: center;

        }


    }

    .section3 {
        .section3__get h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            /* identical to box height, or 100% */

            margin-left: -80px;
            color: #012F34;

        }
        .section3__btn button{
            position: absolute;
            margin-left: -170px;
            margin-top: -20px;
        }
    }
    .footer{
        .footer__ca p{
            margin-left: 30px;
        }
    }
}